@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");

body {
  font: 300 16px/1.5 "Lato", sans-serif;
  color: #000;
}

/* Layout */
.ba-container {
  padding-left: 30px;
  padding-right: 30px;
  max-width: 960px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button {
  transition: color 0.3s ease-in, border-color 0.3s ease-in,
    background-color 0.3s ease-in, opacity 0.3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button {
  display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover {
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
  transition: color 0.3s ease-in, border-color 0.3s ease-in,
    background-color 0.3s ease-in, opacity 0.3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
}
textarea {
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.16em;
  font-weight: 700;
  line-height: 1.2;
}
h2 {
  font-size: 34px;
}
h3 {
  font-size: 20px;
  text-transform: uppercase;
}

.ba-background {
  background: url(../img/hero-bg.jpg) no-repeat;
  background-size: cover;
  padding-top: 185px;
  padding-bottom: 110px;
}

.ba-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.ba-header__logo {
  margin-bottom: 95px;
}
.ba-header__title {
  font-size: 54px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 12px;
}

.ba-header__subtitle {
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.7;
  color: #fff;
  margin-bottom: 240px;
}
.ba-box {
  padding: 72px 170px;
  border: solid #3c3c3c;
  border-width: 0 2px 2px;
  position: relative;
  text-align: center;
}

.ba-box:before,
.ba-box:after {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  height: 2px;
  background-color: #3c3c3c;
  font-size: 0;
  width: 27%;
}
.ba-box:before {
  left: 0;
}
.ba-box:after {
  right: 0;
}
.ba-box__title {
  position: absolute;
  top: 0;
  left: 25%;
  right: 25%;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 34px;
  text-transform: uppercase;
  transform: translateY(-50%);
}
.ba-section--about-us {
  padding: 160px 0;
}
.ba-box--light {
  border-color: #fff;
  color: #fff;
}
.ba-box--light::before,
.ba-box--light:after {
  background: #fff;
}
.ba-section--service {
  background: #a9b4ca url(../img/services.jpg) 50% no-repeat;
  background-size: cover;
  padding: 130px 0 110px;
}

.ba-section__title--two {
  background: rgba(0, 0, 0, 0);
  color: #fff;
  top: 75px;
}
.ba-section__border--white {
  border: 2px solid #fff;
}

.ba-section {
  padding: 120px 0;
}

.ba-section__title--three {
  background: #fff;
  top: -50px;
}
.ba-info-box {
  font-size: 14px;
  padding: 50px 0;
  line-height: 1.8;
}

.ba-section-img {
  margin-bottom: 125px;

  position: relative;
}
.ba-section-img img {
}
.ba-post__title {
  position: absolute;
  justify-content: flex-end;
  z-index: 1;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 6px;
}

.ba-section--contact-us {
  padding-bottom: 0;
  padding-top: 140px;
}
.ba-box__title--small {
  font-size: 30px;
}
.ba-button--contact-us {
  margin-top: 18px;
  min-width: 60%;
}
.ba-button {
  display: inline-block;
  position: relative;
  border: none;
  background-color: #3c3c3c;
  color: #fff;
  text-transform: uppercase;
  padding: 0 40px;
  text-decoration: none;
  letter-spacing: 0.16em;
  font-weight: 400;
  min-height: 58px;
  line-height: 58px;
}

.ba-button:hover {
  background: #696464;
}

.ba-footer {
  text-align: center;
  font-size: 14px;
  padding: 60px 0;
  font-weight: 400;
}
.ba-footer__logo {
  margin-right: 35px;
  margin-bottom: 0;
  vertical-align: middle;
  width: auto;
  height: auto;
}
.ba-copyright a{
	text-decoration: none;
	color: #393939;
}
